<app-header></app-header>
<body>
  <div class="container">
    <div *ngIf="plan" class="plan-details">
      <div class="plan-header">
        <h2>{{ plan.megas }} Mbps</h2>
      </div>
      <div class="plan-body">
        <p class="plan-description">{{ plan.description }}</p>
        <p class="plan-type"><strong>Valor:</strong> R$ {{ plan.plano }}</p>
        <p class="plan-services"><strong>Megas:</strong> {{ plan.megas }}</p>
        <p class="plan-services"><strong>Serviços:</strong> {{ plan.servicos }}</p>
      </div>
      <div class="plan-footer">
        <p class="plan-price">A partir de <strong>R$ {{ plan.plano }}</strong></p>
        <p class="plan-offer">Aproveite agora e ganhe 1 mês grátis!</p>
        <p class="plan-cta">Não perca essa oportunidade de ter a melhor internet em casa!</p>
        <div>
          <p-button 
            [loading]="loading" 
            label="Solicitar plano" 
            (onClick)="assinarPlano()"  
            [disabled]="loading">
          </p-button>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
