<header class="header">
  <div class="logo">
    <h1>WD informática</h1>
  </div>
  <nav *ngIf="userData && token " class="nav-links">
    <a routerLink="/">Ofertas</a>
    <a target="_blank" href="https://www.minhaconexao.com.br">Velocidade</a>
    <a routerLink="/contato">Fale conosco</a>
    <a *ngIf="roles == 'USER'"  routerLink="/planos">Meu plano</a>
    <a *ngIf="roles == 'ADMIN'"  routerLink="/admin/painel">Meu painel</a>
    <div style="display: flex; align-items: center; gap: 10px">
      <p style="font-weight: bold;">Ola, {{userData}}</p>
      <p-menu #menu [model]="items" [popup]="true" />
      <p-avatar [style]="{cursor: 'pointer'}" (click)="menu.toggle($event)" pBadge size="large" shape="circle"
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"></p-avatar>
    </div>
  </nav>

  <nav *ngIf="!userData && token" class="nav-links">
    <a routerLink="/">Ofertas</a>
    <a target="_blank" href="https://www.minhaconexao.com.br">Velocidade</a>
    <a routerLink="/contato">Fale conosco</a>
    <a class="area-cliente" routerLink="/login">Área do cliente</a>
  </nav>


  <div class="hamburger">
    <p-sidebar position="right" [style]="{
        'background-color': '#072063',
        color: 'white',
        padding: '1rem',
        width: '17rem'
      }" [(visible)]="sidebarVisible">
      <ul class="ul-nav-links-mobile">
        <div class="nav-links-mobile">
          <a routerLink="/home">Ofertas</a>
          <a routerLink="/contato">Fale conosco</a>
          <a routerLink="/login">Área do cliente</a>
        </div>
      </ul>
    </p-sidebar>
    <p-button size="large" [style]="{
        'background-color': 'transparent',
        color: '#007BFF',
        border: 'none'
      }" (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
  </div>
</header>