*{
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px 50px;  
  border-bottom: 1px solid #2e0ab3;
  position: relative;
  background-color: #104680;
}

.logo{
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo p{
  font-weight: 300;
}
 

.login p {
  color: white;
  font-weight: 400;
}

.login Strong a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

 


.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-left: 50px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login{
  color: white;
  font-weight: bold;
} 
 
.nav-links a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.nav-links a:nth-child(1){
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 10px;
}

 

.nav-links a:nth-child(5){
  border: 1px solid #007BFF;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  background-color: #007BFF;
}

.nav-links a:nth-child(5):hover{
  background-color: #0b75e7;
  transition: 0.5s;
}
 
.logo img{
  height: auto;
   width: 80px;
}


.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
}

.mobile-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 10px 0;
}

.mobile-menu a:hover {
  color: #007BFF;
}

.mobile-menu.active {
  display: flex;
  width: 40%;
  border-radius: 6px;
}
 
@media (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo img {
  width: 60px;
  height: auto;  
  }

  .nav-links {
    display: none;
  }

  .login {
    display: none;
  }

  .hamburger {
    display: block;
  }
 
  .ul-nav-links-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .login-mobile{
    text-decoration: none;
    font-size: 16px;
    align-items: center;
  }

  .login-mobile p a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 800;
  }

  .nav-links-mobile{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 10px;
  }

  .nav-links-mobile a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
  }

  .nav-links-mobile a:nth-child(1){
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  .nav-links-mobile a:hover{
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}
