<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <h2>Acesso rápido</h2>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Área do cliente</a></li>
    </ul>
    <div>
      <div class="footer-links">
        <h2>Contato</h2>
        <ul class="footer-links-email">
          <a><i class="pi pi-envelope"> wd.2013&#64;gmail.com.br </i></a>
        </ul>
        <ul class="footer-links-social">
          <h2>Siga-nos nas redes</h2>
          <div style="display: flex; gap: 15px;">
            <a><i class="pi pi-instagram"></i></a>
            <a><i class="pi pi-facebook"></i></a>
            <a><i class="pi pi-whatsapp"></i></a>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;
  justify-content: center; padding: 40px 0px 0px 40px; margin-top: 2rem;">
    <h1 style="margin-bottom: 2rem;">WD INFORMÁTICA</h1>
    <hr style="color: white; width: 93%; opacity: 0.5;">
  </div>
  <p>&copy; 2024 Wd informática. Todos os direitos reservados. CNPJ: 22.738.787/0001-26
    Rua I, Quadra 20, Lote 47, s/n - St. Morada do Sol, Goiânia - GO, 74475-080</p>
</footer>
