<app-header></app-header>
<body>
  <div class="container">
    <div class="main">
      <div class="dados">
        <div class="description">
          <div class="description-text">
            <p>EDITE SUA FOTO</p>
          </div>
          <div class="avatar">
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
              size="large"
              shape="circle"
            />
            <p>{{ userData }}</p>
            <p style="font-weight: bold; text-decoration: underline">
              {{ roles }}
            </p>
          </div>
        </div>
        <div class="form">
          <p>EDITE SEUS DADOS PESSOAIS</p>
          <div class="card">
            <div class="flex flex-wrap gap-3 mb-4">
              <div class="flex-auto">
                <label for="text" class="font-bold block mb-2">
                  Nome Completo
                </label>
                <input pInputText class="w-full" />
              </div>
              <div class="flex-auto">
                <label for="text" class="font-bold block mb-2"> Email </label>
                <input pInputText class="w-full" />
              </div>
            </div>
            <div class="flex flex-wrap gap-3">
              <div class="flex-auto">
                <label for="number" class="font-bold block mb-2"> CPF </label>
                <input pInputText id="number" class="w-full" />
              </div>
              <div class="flex-auto">
                <label for="alphabetic" class="font-bold block mb-2">
                  Data Nascimento</label
                >
                <input pInputText class="w-full" />
              </div>
              <div class="flex-auto">
                <label for="text" class="font-bold block mb-2"> Sexo </label>
                <input pInputText class="w-full" />
              </div>
            </div>
          </div>
          <p-button [style]="{marginTop: '20px'}" label="Editar" />
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
