<app-header></app-header>
<body>
  <div class="container">
    <div *ngIf="userProfile" class="main">
      <div class="dados">
        <div class="description">
          <div class="description-text">
            <p>EDITE SUA FOTO</p>
          </div>
          <div class="avatar">
            <div *ngIf="userProfile.avatarUrl">
              <p-avatar
                [image]="userProfile.avatarUrl"
                size="xlarge"
                shape="circle"
                styleClass="mr-2"
              />
            </div>
            <div *ngIf="!userProfile.avatarUrl">
              <p-avatar icon="pi pi-user" size="xlarge" shape="circle" />
            </div>
            <div class="card flex justify-content-center">
              <p-fileUpload
                mode="basic"
                name="demo[]"
                chooseIcon="pi pi-upload"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
                (onSelect)="onFileSelected($event)"
                [auto]="true"
                chooseLabel="Escolher imagem"
              />
            </div>

            <p>{{ userProfile.name }}</p>
            <a (click)="showDialog()" style="text-decoration: underline; cursor: pointer;">Editar endereço</a>
            <p style="font-weight: bold; text-decoration: underline">
              {{ userProfile.role }}
            </p>
          </div>

          <!--Modal Editar Endereço-->
          <div class="card flex justify-content-center">
            <p-dialog
              header="EDITE SEU ENDERECO"
              [modal]="true"
              [(visible)]="visible"
              [style]="{ width: '35rem' }"
              [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
              [maximizable]="true"
            >
               <div class="form2">
                    <div class="flex align-items-center flex-column gap-5 mb-5">
                      <p-floatLabel [style]="{ width: '100%', marginTop: '20px'}">
                          <input [style]="{ width: '100%' }" pInputText id="cep" name="cep" (input)="consultarCep()" [(ngModel)]="userProfile.address.cep" />
                          <label for="cep">Cep</label>
                      </p-floatLabel>
                      <p-floatLabel [style]="{ width: '100%' }">
                          <input [style]="{ width: '100%' }" pInputText id="endereco" name="endereco" [(ngModel)]="userProfile.address.endereco" />
                          <label for="endereco">Endereço</label>
                      </p-floatLabel>
                      <p-floatLabel [style]="{ width: '100%' }">
                          <input [style]="{ width: '100%' }" pInputText id="complemento" name="complemento" [(ngModel)]="userProfile.address.complemento" />
                          <label for="complemento">Complemento</label>
                      </p-floatLabel>
                      <p-floatLabel [style]="{ width: '100%' }">
                          <input [style]="{ width: '100%' }" pInputText id="bairro" disabled="true" name="bairro" [(ngModel)]="userProfile.address.bairro" />
                          <label for="bairro">Bairro</label>
                      </p-floatLabel>
                      <p-floatLabel [style]="{ width: '100%' }">
                          <input [style]="{ width: '100%' }" pInputText id="cidade" disabled="true" name="cidade" [(ngModel)]="userProfile.address.cidade" />
                          <label for="cidade">Cidade</label>
                      </p-floatLabel>
                  </div>
               </div>
               <div class="flex justify-content-end">
                   <p-button type="button" label="Cancelar" class="p-button-outlined" (click)="visible = false"></p-button>
                   <p-button type="button" label="Editar" class="p-button-outlined ml-2" (click)="editAddress()"></p-button>
               </div>
            </p-dialog>
          </div>
          <!--Modal Editar Endereço-->
        </div>
        <div class="form">
          <p>EDITE SEUS DADOS PESSOAIS</p>
          <div class="card">
            <div class="flex flex-wrap gap-3 mb-4">
              <div class="flex-auto">
                <label for="text" class="font-bold block mb-2">
                  Nome Completo
                </label>
                <input
                  pInputText
                  class="w-full"
                  id="name"
                  name="name"
                  [(ngModel)]="userProfile.name"
                />
              </div>
              <div class="flex-auto">
                <label for="text" class="font-bold block mb-2"> Email </label>
                <input
                  pInputText
                  class="w-full"
                  id="email"
                  name="email"
                  [(ngModel)]="userProfile.email"
                />
              </div>
            </div>
            <div class="flex flex-wrap gap-3">
              <div class="flex-auto">
                <label for="number" class="font-bold block mb-2"> CPF </label>
                <input
                  pInputText
                  id="cpf"
                  class="w-full"
                  name="cpf"
                  [(ngModel)]="userProfile.cpf"
                />
              </div>
              <div class="flex-auto">
                <label for="text" class="font-bold block mb-2">
                  Data de nascimento
                </label>
                <p-calendar
                  [showIcon]="true"
                  dateFormat="dd/mm/yy"
                  placeholder="Data de Nascimento"
                  id="dataNascimento"
                  name="dataNascimento"
                  [style]="{ width: '100%' }"
                  [(ngModel)]="userProfile.dataNascimento"
                ></p-calendar>
              </div>
              <div class="flex-auto">
                <label for="text" class="font-bold block mb-2"> Sexo </label>
                <p-dropdown
                  id="sexo"
                  name="sexo"
                  [style]="{ width: '100%' }"
                  [options]="sexOptions"
                  [(ngModel)]="userProfile.sexo"
                  placeholder="Sexo"
                  optionLabel="label"
                  optionValue="value"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <p-button
            [loading]="loading"
            (click)="update()"
            [style]="{ marginTop: '20px' }"
            label="Editar"
          />
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
