<app-header></app-header>
<body>
    <div class="sobre-container">
        <h1>Sobre a WD Informática</h1>
        <div class="sobre">
          <p>
            A <strong>WD Informática</strong> é uma empresa especializada em soluções de fibra óptica, localizada no Parque Tremendão, Goiânia, Goiás, na região Noroeste. Fundada em 2013, temos um compromisso contínuo com a inovação e a qualidade dos serviços prestados.
          </p>
          <p>
            Desde a nossa criação, temos fornecido produtos e serviços de alta qualidade para nossos clientes, sempre buscando atender às suas necessidades com eficiência e excelência.
          </p>
          <p>
            Nossa missão é garantir a melhor experiência em conectividade e tecnologia, contribuindo para o desenvolvimento da região e a satisfação dos nossos clientes.
          </p>
        </div>
    </div>
</body>
<app-footer></app-footer>

  