.container-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .container-contato{
        padding: 10px;
    }
}

.container-form{
    width: 450px;
    height: 400px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .container-form{
        width: 100%;
    }  
}

.title-message{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 26px;
}

.title-message img{
    width: 300px;
}

.btn {
    display: flex;
    justify-content: left;
}

input{
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
 