 
<body>
  <div class="container-contato">
    <div class="container-form">
      <form  [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="title-message">
          <img  src="/assets/logo-principal-removebg-preview.png" alt="">
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px">
          <div class="flex flex-column">
            <p-inputMask
              [style]="{ width: '100%' }"
              mask="999.999.999-99"
              id="cpf"
              name="cpf"
              formControlName="cpf"
              placeholder="CPF"
            ></p-inputMask>
          </div>
          <div class="flex flex-column">
            <input
            type="password"
            pInputText
            placeholder="Senha"
            id="password"
            name="password"
            aria-describedby="password-help"
            formControlName="password"
          />
          </div>
          <p>Não possui uma conta? <a href="/register">Clique aqui</a></p>
          <p-button type="submit" [disabled]="loginForm.invalid || loading" class="btn" [style]="{padding: '10px', width: '50%', marginTop: '10px'}" label="Entrar" />
        </div>
      </form>
    </div>
  </div>
</body>
 
