<div class="card">
    <p-table [value]="mensagens" [rowsPerPageOptions]="[5, 10, 15, 20]" [scrollable]="true" scrollHeight="720px"  [lazy]="true" (onLazyLoad)="onPageChange($event)"  [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div>
                <h2>Mensagens</h2>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nome Completo</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Assunto</th>
                <th>Mensagem</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mensagens>
            <tr>
                <td>{{ mensagens.nome }}</td>
                <td>{{ mensagens.email }}</td>
                <td>{{ mensagens.telefone }}</td>
                <td>{{ mensagens.assunto }}</td>
                <td>{{ mensagens.mensagem }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>