

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    padding: 10px;
  }

  @media screen and (max-width: 1254px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);  
    }
  }

  @media screen and (max-width: 993px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);  
    }
  }

  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);  
    }
  }


.grid-item{
    border: 1px #b3b3b4 solid;
    padding: 15px 20px;
    width: 250px;
    height: 350px;
    display: flex;
    text-align: left;
    flex-direction: column;
    border-radius: 2px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .grid-item{
        width: 100%;
    }
    
}

.grid-item h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #c51e1e;
    font-style: normal;
    margin-bottom: 1rem;
}

.grid-item p{
    font-size: 1rem;
    font-weight: 400;
    color:  #a3a3a8;
    font-style: normal;
    margin-bottom: 1rem;
}

.btn{
    background-color: #c51e1e;
    width: 60%;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}


 