<app-header></app-header>
<div class="container-itens">
  <div class="sidebar">
    <ul>
      <li class="active">
        <a routerLink="admin/listagem"  routerLinkActive="active"> <i class="pi pi-list"></i> <p>Listagem Planos</p> <span *ngIf="listCount > 0" class="message-count">{{ listCount }}</span></a>
      </li>
      <li>
        <a routerLink="admin/solicitacao" routerLinkActive="active"><i class="pi pi-bell"></i><p>Solicitação de Plano</p>  <span *ngIf="listSolicitacaoCount > 0" class="message-count">{{ listSolicitacaoCount }}</span> </a>
      </li>
      <li>
        <a routerLink="admin/mensagens" routerLinkActive="active"><i class="pi pi-envelope"></i> <p>Mensagens</p>  <span *ngIf="mensagemCount > 0" class="message-count">{{ mensagemCount }}</span></a>
      </li>
    </ul>
  </div>
  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
