<app-header></app-header>
<div class="container-itens">
  <div class="sidebar">
    <ul>
      <li class="active">
        <a routerLink="admin/listagem"  routerLinkActive="active"><i class="pi pi-list  mr-1 p-text-secondary" pBadge   style="font-size: 1.5rem" value="{{ listCount }}"></i><p>Listagem de Planos</p></a>
      </li>
      <li>
        <a routerLink="admin/solicitacao" routerLinkActive="active"><i class="pi pi-bell mr-1 p-text-secondary" pBadge style="font-size: 1.5rem" value="{{ listSolicitacaoCount }}"></i><p>Solicitação de Plano</p></a>
      </li>
      <li>
        <a routerLink="admin/mensagens" routerLinkActive="active"><i class="pi pi-envelope mr-1 p-text-secondary" pBadge  style="font-size: 1.5rem" value="{{ mensagemCount }}"></i>Mensagens</a>
      </li>
    </ul>
  </div>
  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
