<div style="height: 90%;" class="card">
  <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
      <div>
          <h2>Listagem Planos</h2>
      </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Megas</th>
        <th>Plano</th>
        <th>Serviços</th>
        <th>Descrição</th>
        <th style="display: flex; justify-content: right">
          <i label="Show" (click)="showDialogCreate()" class="pi pi-plus" style="
          font-size: 1.2rem;
          color: #ffffff;
          background-color: #3b82f6;
          padding: 5px;
          border-radius: 6px;
          cursor: pointer;
        "></i>
        </th> 
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ getFormattedMegas(rowData.megas) }}</td>
        <td>{{ getFormattedPlano(rowData.plano) }}</td>
        <td>{{ rowData.servicos }}</td>
        <td>{{ rowData.description }}</td>
   
        <td>
          <div style="display: flex; gap: 10px; justify-content: right">
            <p-confirmPopup></p-confirmPopup>
            <p-button [style]="{ width: '2rem', height: '2rem' }" (onClick)="showDialog(rowData)"
              icon="pi pi-file-edit"></p-button>
            <p-button [style]="{ width: '2rem', height: '2rem' }" (click)="confirm2($event, rowData.id)"
              icon="pi pi-trash" severity="danger"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="card flex justify-content-center">
  <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="120" 
      [rowsPerPageOptions]="[10, 20, 30]" />
</div>

<div *ngFor="let plano of data">
  <!-- MODAL EDITAR PLANOS -->
  <p-dialog
    header="Atualizar planos"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [(visible)]="visible[plano.id]"
    [style]="{ width: '40rem', height: 'auto'}"
  >
    <span class="p-text-secondary block mt-3 mb-6">Atualize as informações.</span>
    <div class="flex align-items-center flex-column gap-3 mb-5">
      <p-floatLabel  [style]="{ width: '100%' }">
        <input  [style]="{ width: '100%' }" pInputText id="megas" name="megas"  [(ngModel)]="plano.megas" />
        <label for="megas">Megas</label>
    </p-floatLabel>
    </div>
    <div class="flex align-items-center flex-column gap-3 mb-5">
      <p-floatLabel  [style]="{ width: '100%' }">
        <input  [style]="{ width: '100%' }" pInputText id="plano" name="plano" [(ngModel)]="plano.plano" />
        <label for="plano">Planos</label>
    </p-floatLabel>
    </div>
    <div class="flex align-items-center flex-column gap-3 mb-5">
      <p-floatLabel  [style]="{ width: '100%' }">
        <textarea  [style]="{ width: '100%' }" pInputText id="servicos" name="servicos" [(ngModel)]="plano.servicos"></textarea>
        <label for="servicos">Serviços</label>
    </p-floatLabel>
    </div>

    <div class="flex align-items-center flex-column gap-3 mb-5">
      <p-floatLabel  [style]="{ width: '100%' }">
        <textarea  [style]="{ width: '100%' }" pInputTextarea id="description" name="description" [(ngModel)]="plano.description">
        </textarea>
        <label for="description">Descrição</label>
      </p-floatLabel>
    </div>
  
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancelar"
        severity="secondary"
        (onClick)="visible[plano.id] = false"
      ></p-button>
      <p-button
        label="Editar"
        (click)="update(plano)"
        (onClick)="visible[plano.id] = false"
      ></p-button>
    </div>
  </p-dialog>
  <!-- MODAL EDITAR PLANOS -->
</div>

<!-- MODAL CRIAR PLANOS -->
<div class="card flex justify-content-center">
  <p-dialog
    header="Cadastro de planos"
    [(visible)]="visibleCreate"
    [style]="{ width: '35rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <form class="flex flex-column gap-4" [formGroup]="registerPlanosForm" (ngSubmit)="submit()">
      <span class="p-text-secondary block mb-5">Cadastre um novo plano.</span>
      <div class="flex align-items-center flex-column gap-3">
       <p-floatLabel  [style]="{ width: '100%' }">
        <input
         [style]="{ width: '100%' }"
          formControlName="megas"
          id="megas"
          name="megas"
          placeholder="0 Megas"
          pInputText
          class="flex-auto"
          autocomplete="off"
        />
        <label for="Megas" class="font-semibold w-6rem">Megas</label>
      </p-floatLabel>
      </div>
      <div class="flex align-items-center gap-3">
        <p-floatLabel  [style]="{ width: '100%' }">
        <input
        [style]="{ width: '100%' }"
          formControlName="plano"
          id="plano"
          name="plano"
          placeholder="R$ 0,00"
          pInputText
          class="flex-auto"
          autocomplete="off"
        />
        <label for="plano" class="font-semibold w-6rem">Plano</label>
      </p-floatLabel>
      </div>
      <div class="flex align-items-center gap-3">
        <p-floatLabel  [style]="{ width: '100%' }">
        <textarea
        [style]="{ width: '100%' }"
          formControlName="servicos"
          id="servicos"
          name="servicos"
          placeholder="Informe os serviços"
          pInputTextarea
          class="flex-auto"
          autocomplete="off"
        ></textarea>
        <label for="servicos" class="font-semibold w-6rem">Serviços</label>
      </p-floatLabel>
      </div>
      <div class="flex align-items-center gap-3">
        <p-floatLabel  [style]="{ width: '100%' }">
        <textarea
        [style]="{ width: '100%' }"
          formControlName="description"
          id="description"
          name="description"
          placeholder="faça uma descrição sobre o plano"
          pInputTextarea
          class="flex-auto"
          autocomplete="off"
        ></textarea>
        <label for="description" class="font-semibold w-6rem">Descrição</label>
      </p-floatLabel>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary"></p-button>
        <p-button
          [disabled]="registerPlanosForm.invalid || loading"
          type="submit"
          label="Cadastrar"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</div>
<!-- MODAL CRIAR PLANOS -->
