<body>
  <div class="container-contato">
    <div class="container-form">
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="title-message">
          <img src="/assets/logo-principal-removebg-preview.png" alt="" />
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px">
          <div class="flex flex-column">
            <input
              pInputText
              placeholder="Nome"
              id="name"
              formControlName="name"
              required
            />
            <div
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="error"
            >
              <div *ngIf="name.errors?.['required']">Nome é obrigatório.</div>
              <div *ngIf="name.errors?.['minlength']">
                Nome precisa ter no mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="flex flex-column">
            <input
              pInputText
              placeholder="Email"
              id="email"
              formControlName="email"
              required
            />
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="error"
            >
              <div *ngIf="email.errors?.['required']">Email é obrigatório.</div>
              <div *ngIf="email.errors?.['email']">Email inválido.</div>
            </div>
          </div>

          <div class="flex flex-column">
            <p-inputMask
              [style]="{ width: '100%' }"
              mask="999.999.999-99"
              id="cpf"
              name="cpf"
              formControlName="cpf"
              placeholder="CPF"
            ></p-inputMask>
          </div>
          
          <div class="flex flex-column">
            <p-calendar
              [showIcon]="true" 
              placeholder="Data de Nascimento"
              id="data_nascimento"
              name="data_nascimento"
              [style]="{ width: '100%' }"
              formControlName="data_nascimento"
            ></p-calendar>
            <div
              *ngIf="data_nascimento.invalid && (data_nascimento.dirty || data_nascimento.touched)"
              class="error"
            >
              <div *ngIf="data_nascimento.errors?.['required']">
                Data de nascimento é obrigatória.
              </div>
              <div *ngIf="data_nascimento.errors?.['data_nascimento']">
                Data de nascimento inválida.
              </div>
            </div>
          </div>

          <div class="flex flex-column">
            <p-dropdown
              [options]="sexOptions"
              formControlName="sexo"
              placeholder="Sexo"
              optionLabel="label"
              optionValue="value"
            ></p-dropdown>
            <div
              *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)"
              class="error"
            >
              <div *ngIf="sexo.errors?.['required']">Sexo é obrigatório.</div>
            </div>
          </div>

          <div class="flex flex-column">
            <input
              type="password"
              pInputText
              placeholder="Senha"
              id="password"
              formControlName="password"
              required
            />
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="error"
            >
              <div *ngIf="password.errors?.['required']">
                Senha é obrigatória.
              </div>
              <div *ngIf="password.errors?.['minlength']">
                Senha precisa ter no mínimo 5 caracteres.
              </div>
            </div>
          </div>

          <p>Já possui uma conta? <a href="/login">Clique aqui</a></p>
          <button
            type="submit"
            pButton
            pRipple
            class="btn"
            style="padding: 10px; width: 50%; margin-top: 10px"
            [disabled]="registerForm.invalid || loading"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
